<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Vue.js todo demo</title>

  <link href="css/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>

<body>
  <div class="wrapper container">
    <header class="header">
      <nav class="navbar">
        <a id="logo" class="header-elem" href="index.html"><img src="img/demo.png"/></a>
        <a class="header-elem" href="todo.html">ToDo</a>
      </nav>
      <div id="account-template">
        <component :is='currentView'></component>
      </div>
    </header>
    <section class="content" id="todoapp">
      <h1>Todos</h1>
      <section id="todo-main">

        <div class="todo-title-block">
          <h4>Add new task</h4>
          <div id="todo-add-new">
            <div id="todo-add-new-fields">
              <div class="new-todo-block">
                <label>Title:</label>
                <input type="text" id="new-todo-title" class="new-data-input" placeholder="Default title" v-model="todoTitle" >
              </div>
              <div id="todo-block-textarea" class="new-todo-block">
                <label>Text:</label>
                <textarea id="new-todo-text" class="new-data-input" v-model="todoText"></textarea>
              </div>
              <div class="new-todo-block">
                <label>Date:</label>
                <input type="date" id="new-final-date" class="new-data-input" v-model="todoDate.customdate">
              </div>
            </div>
            <button id="new-add-btn" @click="addTodo">Add task</button>
          </div>
        </div>

        <div class="todo-title-block">
          <h4>Active tasks</h4>
          <div id="todo-active" class="todo-main-item droppable" v-cloak>
            <ul>
              <!-- todo card pattern -->
              <li class="todo-item draggable" v-for="todo in todos" :key="todo.id" :class="{ completed: todo.complete, editing: todo == editedTodo }">
                <div class="todo-item-content">
                    <h5>{{ todo.title }}</h5>
                    <label>{{ todo.text }}</label>
                    <div class="todo-date">
                      <div>
                        <label>Set at: </label>
                        <label class="start-time">1</label>
                      </div>
                      <div>
                        <label>Time remains: </label>
                        <label class="time-remains">2</label>
                       </div>
                       <div>
                         <label>Finish: </label>
                         <label class="finish-time">{{ todo.date }}</label>
                      </div>
                    </div>
                </div>
                <div class="buttons">
                  <button class="complete-todo" @click="completeTodo(todo)">++</button>
                  <button class="edit-todo"></button>
                  <button class="delete-todo" @click="removeTodo(todo)">--</button>
                </div>
              </li>
              <!-- end todo card pattern -->
            </ul>
          </div>
        </div>

        <div class="todo-title-block">
          <h4>Completed tasks</h4>
          <div id="todo-complete" class="todo-main-item droppable" v-cloak>
            <ul>
              <!-- todo card pattern -->
              <li class="todo-item draggable" v-for="todo in completed" :key="todo.id" :class="{ completed: todo.complete, editing: todo == editedTodo }">
                  <div class="todo-item-content">
                      <h5>{{ todo.title }}</h5>
                      <label>{{ todo.text }}</label>
                      <div class="todo-date">
                        <div>
                          <label>Set at: </label>
                          <label class="start-time">1</label>
                        </div>
                        <div>
                          <label>Time remains: </label>
                          <label class="time-remains">2</label>
                         </div>
                         <div>
                           <label>Finish: </label>
                           <label class="finish-time">{{ todo.date }}</label>
                        </div>
                      </div>
                  </div>
                  <div class="buttons">
                    <button class="complete-todo" @click="uncompleteTodo(todo)">++</button>
                    <button class="edit-todo"></button>
                    <button class="delete-todo" @click="removeCompleted(todo)">--</button>
                  </div>
                </li>
                <!-- end todo card pattern -->
            </ul>
          </div>
        </div>
        
      </section>
    </section>
    <footer class="footer">

    </footer>
  </div>
  <script src="js/script.js"></script>
</body>


</html>
