$blue: #005eff;
$dark-blue: #0029ff;
$azure: #0081f9;
$dark-azure: #0077e6;
$pale-green: #92cdaa;
$head-foot-height: 6vh;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;
  h1, h2 {
    margin: 2vh 0;
    color: #3c1e80;
  }
  h1 {
    margin-top: 4vh;
    font-size: 5vh;
    color: #47239b;
  }
  #sorry {
    color: rgba(61, 61, 61, 0.3);
    font-size: 1.2vh;
    margin-top: -1.5vh;
    margin-bottom: 2vh;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  h2 {
    background: white;
    width: 100%;
    font-size: 55px;
    font-weight: 100;
    text-align: center;
    color: #92cdaa;
    margin-top: 5vh;
    margin-bottom: 1vh;
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-basis: auto;
  align-items: center;
  background-color: #0081f9;
  min-height: 45px;
  max-height: 5vh;
  width: 100%;
  line-height: 1.4;
  .header-elem {
    color: #fff;
    display: block;
    font-weight: 100%;
    float: left;
    line-height: 1.4;
    font-size: 14px;
    padding: 13px 5px 17px;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  #logo {
    padding: 10px 4px 3px;
    img {
      max-height: 40px;
      margin: 7px 5px;
    }
    &:hover {
      background: none;
    }
  }
}

.navbar {
  a:last-child() {
    min-height: 100%;
    padding: 24px 5px 30px;
  }
}

.footer {
  // flex: 0 0 auto;
  margin-top: 5%;
  background-color: $azure;
  width: 100%;
  min-height: 45px;
  height: $head-foot-height;
  line-height: 1.4;
}

%default-form {
  display: flex;
  flex-direction: column;
  margin: 0 15% 200px;
}

#signup {
  @extend %default-form;
}

#signin {
  @extend %default-form;  
}

#logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

