.second-nav {
  color: #fff;
  .dropable-menu {
    position: relative;
    display: inline-block;
    list-style: none;
    li {
      display: block;
      font-weight: 100%;
      line-height: 1.6;
      font-size: 14px;
      padding: 8px 5px 10px 5px;
      transition: 0.3s;
      a {
        text-decoration: none;
        width: 100%;
        color: #fff;
      }
      &:hover > a {
        color: #000;
      }
      &:hover li {
        font-weight: 100%;
        line-height: 1.4;
        font-size: 14px;
        padding: 13px 0px 10px 0px;
        transition: 0.3s;
      }
    }
  }
  .submenu {
    position: absolute;
    display: none !important;
    background-color: #0081f9;
    width: 100%;
    float: left;
    list-style: none; 
    line-height: 1.4;
    font-size: 14px;
    padding: 13px 0px 0px 5px;
    transition: 0.3s;
    z-index: 250;
    li:hover  {
      padding: 0;
      margin-left: -5px;
      transition: 0.3s;
      width: 100%;
      background-color: #fff;
    }
    &:last-child {
      padding-bottom: 5px;
    }
  }
  ul li:hover > ul {
    display: block !important;
    position: absolute;
    right: 0;
    top: 50px;
  }
}

.btn {
  width: 31%;
  height: 25px;
  padding: 0 10px;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #32a3ff;
  transition: 0.15s;
  min-width: 120px;
  &:hover { 
    background-color: #0496f9; 
  }
}

.input {
  border-radius: 20px;
  border: 1px inset black;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 1vh;
  width: 30%;
  min-width: 120px;
  height: 25px;
}

.valid {
  border: 1px inset green !important;
  background: #45e842;
}

.error {
  border: 1px inset red !important;
  background: #fb4141;
}

.warning {
  margin: 10px 0;
  color: #ff0000;
  font-size: 25px;
  font-style: italic;
  font-family: sans-serif;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}

.hidden {
  visibility: collapse;
}

.shown {
  visibility: visible;
}
