#todoapp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 40px;
    h1 {
        background: white;
        width: 100%;
        font-size: 100px;
        font-weight: 100;
        text-align: center;
        color: #92cdaa;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }
}

#todo-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.todo-title-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    h4 {
        font-size: 4vh;
        color: #4955ff;
    }
}

#todo-add-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-width: 60vw;
    box-shadow: 24px 8px 12px rgba(44, 62, 80, 0.10);
    height: 100%;
    padding: 0 0;
    #todo-add-new-fields {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        height: 10vh;
    }
    #new-todo-title {
        // height: 100%;
        width: 100%;
        padding-left: 15px;
        font-size: 25px;
        border: solid 1px #dddddd;
        border-bottom: none; 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #new-todo-text {
        min-height: 90px;
        height: 100%;
        width: 100%;
        border: solid 1px #dddddd;
        border-bottom: none;
        resize: none;
        padding-left: 15px;
        padding-right: -15px;
        font-size: 25px;
    }
    #date-container {
        // height: 5vh;
        min-height: 35px;
        font-size: 10px;        
        #new-final-date {
            border: solid 1px #dddddd;
            padding-left: 15px;
            height: 100%;
            width: 100%;
        }
    }
    #new-add-btn {
        min-width: 55px;
        min-height: 55px;
        width: calc(100% + 17px);
        height: 4vw;
        border: solid 0px #008000;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background: #32ba04;
        margin: auto;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            animation-name: btn-anim;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            border: solid 0px #008000;
            background: #30ae07;
        }
        &:active {
            border: solid 0px #008000;
            background: #238204;
        }
    }  
}

@keyframes btn-anim {
    0%, 100% {
        // width: 4vw;
        // height: 4vw;
        // border-radius: 4vw;
        font-size: 12px;
    }
    50% {
        // width: 5vw;
        // height: 5vw;
        // border-radius: 5vw;
        // margin-top: -0px;
        font-size: 15px;
    }
}

#todo-active {
    width: 100%;
    padding-left: 15px;
    padding-top: 25px; 
    border-top: solid 1px #dddddd; 
    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    height: 100%;
    width: 100%;
    max-width: 60vw;
    margin-bottom: 8px;
    border: solid 1px #dddddd;
    box-shadow: 6px 7px 8px rgba(44, 62, 80, 0.10);
    border-radius: 5px;
    list-style: none;
    .todo-item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 2;
        margin-left: 2vw;
        word-wrap: break-word;
        max-width: calc(100% - 15%);
        white-space: pre-wrap;
        h5 {
            width: 100%;
            text-align: center;
        }
        p {
            border-top: solid 1px #dddddd;
            border-bottom: solid 1px #dddddd;
            min-height: 50px;
            width: 100%;
            text-align: center;
        }
    }
    .todo-date {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 1vh;
        width: 100%;
        text-align: center;
        margin: 0.5vh 0;
    }  
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 2vw;
        button {
            min-width: 15px;
            min-height: 15px;
            width: 2.5vh;
            height: 2.5vh;
            margin: 5px 0;
            border: solid 1px black;
            background: #fff;
            border-radius: 2.5vh;
            cursor: pointer; 
            transition: 0.25s;
        }
        .complete-todo {
            font-size: 1.5vh;
            &:hover {
                color: #056a05;
                border: solid 1px#056a05;
                background: #def8de;   
            }
            &:active {
                color: #056a05;
                border: solid 1px#056a05;
                background: #b3fcb3;
            }
        }
        .edit-todo {
            font-size: 1.5vh;
            &:hover {
                color: #046164;
                border: solid 1px#046164;
                background: #ddfeff;   
            }
            &:active {
                color: #046164;
                border: solid 1px#046164;
                background: #b4fdff; 
            }
        }
        .delete-todo {
            font-size: 1.5vh;
            &:hover {
                color: #c62f14;
                border: solid 1px#c62f14;
                background-color: #f8ddd8;
            }
            &:active {
                color: #c62f14;
                border: solid 1px#c62f14;
                background-color: #fac3ba;
            }
        }
    }
}

.completed {
    background: #73d553;
    p {
        border-top: solid 1px #40b818 !important;
        border-bottom: solid 1px #40b818 !important;
        min-height: 50px;
        width: 100%;
        text-align: center;
    }
}

.item-displayed {
    display: flex;
}

.item-hidden {
    display: none;
}

.todo-edit-window {
    display: none;
    #todo-add-new-fields {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        height: 10vh;
    }
    #new-todo-title {
        min-height: 50px;
        height: 14vh;
        width: 100%;
        padding-left: 15px;
        font-size: 25px;
        border: solid 1px #dddddd;
        border-bottom: none; 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #new-todo-text {
        min-height: 90px;
        height: 100%;
        width: 100%;
        border: solid 1px #dddddd;
        border-bottom: none;
        resize: none;
        padding-left: 15px;
        padding-right: -15px;
        font-size: 25px;
    }
    #date-container {
        height: 5vh;
        font-size: 10px;        
        #new-final-date {
            border: solid 1px #dddddd;
            padding-left: 15px;
            height: 100%;
            width: 100%;
        }
    }
    #new-add-btn {
        min-width: 55px;
        min-height: 55px;
        width: calc(100% + 17px);
        height: 4vw;
        border: solid 0px green;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background: #32ba04;
        margin: auto;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            animation-name: btn-anim;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            border: solid 0px #008000;
            background: #30ae07;
        }
        &:active {
            border: solid 0px #008000;
            background: #238204;
        }
    }  
}

.editing {
    .todo-item-content {
        display: none;
    }
    .buttons {
        display: none;
    }
    .todo-edit-window {
        display: flex;
    }
}

.modal-mask {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    transition: opacity .3s ease;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-width: 60vw;
    box-shadow: 24px 8px 12px rgba(44, 62, 80, 0.10);
    height: 25vh;
    padding: 0 0;
    z-index: 150;
    position: fixed;
    top: 20vh;
    left: 20vw;
}

.close-modal-btn {
    display: block;
    position: relative;
    right: -59vw;
    top: -27vh;
    z-index: 151;
    width: 61px;
    height: 61px;
    border: solid 1px #ffe9e9;
    border-radius: 45px;
    font-size: 45px;
    background: #ffffff;
    color: #b3b3b3;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background: #fff0f0;
        border: solid 2px #ffe0e0;
    }
    &:active {
        background: #ffe0e0;
        border: solid 2px #ffe0e0;
    }
}

.list-item {
    display: inline-block;
    margin-right: 10px;
}
.list-enter-active, .list-leave-active {
    transition: all 0.5s;
}
.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateX(-60px);
}

[v-cloak] {
    display: none;
}
