<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Log In</title>

  <link href="css/style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="shortcut icon" href="img/PO-icon.png" type="image/png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>

<body>
<div class="wrapper">
    <header class="header">
        <nav class="navbar">
            <a id="logo" class="header-elem" href="/"><img src="img/PO-logo-small.png"/></a>
            <a class="header-elem" href="todo">ToDo</a>
        </nav>
        <div id="account-template">
            <component :is='currentView'></component>
        </div>
    </header>
    <form class="container" id="signin" @submit="validateForm">
        <h2>Log In</h2>
        <!-- <transition name="fade">
            <label class="warning" v-if="!isValid">Please, enter correct data</label>
        </transition> -->
        <transition name="fade">
            <label class="" v-if="isUsernameValid === false">Username is incorrect</label>
        </transition>
        <input type="text" class="input" placeholder="username" v-model="username" />   
        <transition name="fade">
            <label class="" v-if="isPasswordValid === false">Password is incorrect</label>
        </transition>     
		<input type="password" class="input" placeholder="password" v-model="password" />
		<button class="btn">Submit</button> 
    </form>
    <footer class="footer">

	</footer>
</div>
<script src="js/script.js"></script>
</body>

</html>
