<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Vue.js todo demo</title>

  <link href="css/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navbar">
        <a id="logo" class="header-elem" href="/"><img src="img/demo.png"/></a>
        <a class="header-elem" href="todo">ToDo</a>
      </nav>
      <div id="account-template">
        <component :is='currentView'></component>
      </div>
    </header>
    <section class="" id="todoapp">
      <h1>Todos</h1>
      <section id="todo-main">

        <div class="todo-title-block">
          <div id="todo-add-new">
            <input type="text" id="new-todo-title" class="new-data-input" placeholder="Add title" v-model="todoTitle" >
            <textarea id="new-todo-text" class="new-data-input" placeholder="Add some text here" v-model="todoText"></textarea>
            <div id="date-container">
              <input type="date" id="new-final-date" class="new-data-input" v-model="todoDate.customdate">
            </div>
            <button id="new-add-btn" @click="addTodo">Add task</button>
          </div>
        </div>

        <div class="todo-title-block">
          <div id="todo-active" v-cloak>
            <transition-group name="list" tag="ul">
              <li class="todo-item" v-for="todo in todos" :key="todo.id" :class="{ completed: todo.completed, editing: todo == editedTodo }">
                <div class="todo-item-content">
                    <h5>{{ todo.title }}</h5>
                    <p>{{ todo.text }}</p>
                    <div class="todo-date">
                      <div>
                        <label>Set at: </label>
                        <label class="start-time"> {{ todo.startDate }}</label>
                      </div>
                      <div>
                        <label>Time remains: </label>
                        <label class="time-remains">{{ timeDiv(todo.date) }}</label>
                       </div>
                       <div>
                         <label>Finish: </label>
                         <label class="finish-time">{{ todo.date }}</label>
                      </div>
                    </div>
                </div>
                <div class="buttons">
                  <button class="complete-todo" @click="completeTodo(todo)">&#10004;</button>
                  <button class="edit-todo" @click="editTodo(todo)">&#10002;</button>
                  <button class="delete-todo" @click="removeTodo(todo)">&#9850;</button>
                </div>
                <div class="todo-edit-window" @keyup.esc="cancelEdit(todo)">
                  <div class="modal-mask">
                    <div class="modal-container">
                      <input type="text" id="new-todo-title" class="new-data-input" placeholder="Add title" v-model="todoTitle" >
                      <textarea id="new-todo-text" class="new-data-input" placeholder="Add some text here" v-model="todoText"></textarea>
                      <div id="date-container">
                        <input type="date" id="new-final-date" class="new-data-input" v-model="todoDate.customdate">
                      </div>
                      <button id="new-add-btn" @click="doneEdit(todo)">Edit todo</button>
                      <button class="close-modal-btn" @click="cancelEdit(todo)">X</button>
                    </div>
                  </div>
                </div>
              </li>
            </transition-group>
          </div>
        </div>
                
      </section>
    </section>
    <footer class="footer">

    </footer>
  </div>
  <script src="js/script.js"></script>
</body>


</html>
