<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="css/style.css" rel="stylesheet"/>
	<link rel="shortcut icon" href="img/PepeICO.png" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="js/script.js"></script>
</head>

<body>
<div class="wrapper">
  <div>
		<form id="input" @submit="submitInfo">
			<input v-model="name" autofocus placeholder="name"/>
			<input v-model="surname" placeholder="surname"/>
			<button @click="clog">Submit</button>
		</form>
	</div>
</div>
</body>

</html>
